body {
  background-color: #f2f3f5;
}

/*Style top nav bar*/
#top-navbar-bg {
  background-color: #0b0b31;
}
#top-nav-links {
  color: #a9a9a9;
  &:hover {
    font-weight: bold;
  }
}

/*Main Navbar*/
#main-nav-bg {
  background-color: #f2f3f5;
}

.navbar-brand {
  &:hover {
    border-bottom: solid #0b0b31 4px;
    padding: 0.18rem;
  }
}

/*Adjust size of "Detroix" logo image for screens small than 425px*/
@media (max-width: 425px) {
  .navbar-brand {
    width: 60%;
  }
}

#main-nav-btn {
  color: #ffffff;
  background-color: #0b0b31;
  &:hover {
    font-weight: bold;
  }
}

/*Add border to SMART STRONG STABLE section*/
#smart,
#stable {
  border-top: solid black 1px;
}

#strong {
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
}

#more-btn {
  color: #ffffff;
  background-color: #213349;
  &:hover {
    font-weight: bold;
  }
}

/*Change border style on small screens*/
@media (max-width: 992px) {
  #smart,
  #strong,
  #stable {
    border-top: solid black 1px;
    border-left: none;
    border-right: none;
  }
}

#bg-gradient {
  background: rgb(28, 45, 64);
  background: linear-gradient(
    135deg,
    rgba(28, 45, 64, 1) 0%,
    rgba(18, 29, 41, 1) 50%,
    rgba(15, 24, 33, 1) 100%
  );
}

/*Position buttons at the bottom of each column*/
#serv-op-news {
  position: relative;
}
#more-btn-2 {
  color: #ffffff;
  background-color: #213349;
  position: absolute;
  bottom: 3%;
  &:hover {
    font-weight: bold;
  }
}

#services {
  list-style: none;
  padding: 0;
}
footer {
  background-color: #0e1e31;
}
footer p {
  color: white;
  margin: 0;
  padding: 2vw 5vw;
  font-size: 2vw;
}
footer a {
  text-decoration: none;
  color: white;
  &:hover {
    font-weight: bold;
  }
}
