body {
  background-color: #f2f3f5;
}

#top-navbar {
  color: #a9a9a9;
  background-color: #0b0b31;
}

#more-btn {
  color: #ffffff;
  background-color: #213349;
}

#bg-gradient {
  background: rgb(28, 45, 64);
  background: linear-gradient(
    135deg,
    rgba(28, 45, 64, 1) 0%,
    rgba(18, 29, 41, 1) 50%,
    rgba(15, 24, 33, 1) 100%
  );
}

#services {
  list-style: none;
  padding: 0;
}
footer {
  background-color: #0e1e31;
}
footer p {
  color: white;
  margin: 0;
  padding: 2vw 5vw;
  font-size: 2vw;
}
